<footer class="page-footer">
  <div class="container">
	<div class="row">
	  <div class="col s4">
		<img class="responsive-img circle", src="/image/ruby-warrior.png"/>
	  </div>
	  <div class="col s5">
		<h5 class="white-text">{{ site.title }}</h5>
		<p class="grey-text text-lighten-4">{{ site.description }}</p>
	  </div>
	  <div class="col s3">
		<h5 class="white-text">Links</h5>
		<ul>
		  <li><a class="grey-text text-lighten-3" href="https://github.com/Dal4Segno">Github</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/dongseob.lee.52">Facebook</a></li>
		</ul>
	  </div>
	</div>
  </div>
  <div class="footer-copyright">
	<div class="container">
	© 본 블로그의 모든 글에 대한 저작권은 저자인 dal4segno에게 있습니다.
	<!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
	-->
	</div>
  </div>
</footer>