<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
  <div class="container">
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </div>
  
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- ADSENSE -->
		<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-4936156175331530"
			data-ad-slot="5531883200"
			data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
  
    {% include footer.html %}

  </body>

</html>
